# ============================== Environments ==============================
.env
.env.db
.env.prod
.env.prod.db
.env/
.envs/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# ============================== Node ==============================
**/node_modules


# ============================== Visual Studio Code ==============================
.vscode/
.vscode/**


# ============================== Sublime Text ==============================
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-shareaes
